---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FiloConduttore from '../components/FiloConduttore.astro';
import TreVolti from '../components/TreVolti.astro';
import Libri from '../components/Libri.astro';
import Contatti from '../components/Contatti.astro';
import Karate from '../components/Karate.astro';
import Voci from '../components/Voci.astro';
---

<Layout>
  <main class="page">
    <Hero />
    <FiloConduttore />
    <TreVolti />
    <Libri />
    <Karate />
    <Voci />
    <Contatti />
  </main>
</Layout>
